In [47]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv("./error_correct.csv")

/home/romina/.anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [59]:
df = df[df["Unnamed: 3"].isna()]
df

,Error,Selected,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,حاموش,خاموش,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,چراع,چراغ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,جاموش,خاموش,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,گتابحانه,کتابخانه,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,چراع,چراغ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
151350,یادآورشد,یادآور شد,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151351,یادآورشد,یادآور شد,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151352,بافشار,با فشار,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151353,گازمایع,گاز مایع,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151354,تعصیل,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df = df[["Error", "Selected"]]
df

           Error   Selected
0          حاموش      خاموش
1           چراع       چراغ
2          جاموش      خاموش
3       گتابحانه   کتابخانه
4           چراع       چراغ
...          ...        ...
151350  یادآورشد  یادآور شد
151351  یادآورشد  یادآور شد
151352    بافشار    با فشار
151353   گازمایع   گاز مایع
151354     تعصیل        NaN

[135153 rows x 2 columns]

In [61]:
df = df.drop_duplicates()
df = df.dropna()

In [62]:
df

           Error  Selected
0          حاموش     خاموش
1           چراع      چراغ
2          جاموش     خاموش
3       گتابحانه  کتابخانه
5           رقتم      رفتم
...          ...       ...
151339        ام   گوشی‌ام
151345    دوادهم   دوازدهم
151347     رساته     راسته
151349    سوزیها   سوزی ها
151352    بافشار   با فشار

[65447 rows x 2 columns]

In [29]:
df_error = df[df['Selected'].str.len() - df['Error'].str.len() > 1]
df_error

          Error         Selected
14           ات           حقه‌ات
19         بیند          می‌بیند
28         گویم          می‌گویم
37           ور           این‌ور
40          یاب           خطایاب
...         ...              ...
159119  مهرستاد       مهر،  ستاد
159123    مئضمن      مسئولان ضمن
159170   هلیلان  وی بیان می کند:
159171   هلیلان         «هلیلان»
159206       ام          گوشی‌ام

[12259 rows x 2 columns]

In [63]:
df_error = df[df['Selected'].str.len() - df['Error'].str.len() > 1]